<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-offset-4">
      <div class="form-edit">
        <h2 class="form-title">Edit my account</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

         <div class="form-names">
          <div class="first-name">
            <%= f.input :first_name, required: true, placeholder: "First Name", label: false%>
          </div>
          <div class="last-name">
            <%= f.input :last_name, required: true, placeholder: "Last Name", label: false %>
          </div>
        </div>


        <div class="form-inputs">
          <%= f.input :username, required: true, autofocus: true, label: false, placeholder: "Username", required: true %>


          <%= f.input :address, label: false, placeholder: "Address", required: true  %>

          <%= f.input :age, required: true, autofocus: true, label: false, placeholder: "Age" %>

          <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "E-Mail", required: true %>

          <%= f.input :retirement_age, required: true, autofocus: true, label: false, placeholder: "Retirement age", required: true %>




          <div class="input-group">
            <div class="input-group-addon">£</div>
              <%= f.input :retirement_goal, label: false, placeholder: "My retirement goal", required: true  %>
          </div>



            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, label: false, placeholder: "Current password"  %>
          <%= f.input :password, autocomplete: "off", hint: "Leave it blank if you don't want to change it", required: false, label: false, placeholder: "New password"  %>
          <%= f.input :password_confirmation, required: false, label: false, placeholder: "New password confirmation", hint: "Leave it blank if you don't want to change it" %>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-success" %>
        </div>
      <% end %>

      <div class="links">
       <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>
      </div>

      </div>
    </div>
  </div>
</div>


