<div class="tabs">
  <a class="tab<%= " active" if current_page?(svg_path) %>" href="<%= svg_path %>">
    <h3>My Saving Plans</h3>
  </a>
  <a class="tab<%= " active" if current_page?(brd_path) %>" href=" <%= brd_path %>">
    <h3>My Spending</h3>
  </a>
  <a class="tab<%= " active" if current_page?(th_path) %>" href=" <%= th_path %>">
    <h3>Transaction History</h3>
  </a>
</div>


