<div class="col-xs-12 back-ground-test">
  <div class="row">
    <div class="col-xs-2 cell"><%= transaction.bank_account.account_name %></div>
    <div class="col-xs-2 cell"><%= transaction.currency %></div>
    <div class="col-xs-2 cell"><%= transaction.amount %></div>
    <div class="col-xs-2 cell"><%= transaction.description %></div>
    <div class="col-xs-2 cell"><%= transaction.category.name %></div>
    <div class="col-xs-2 cell"><%= transaction.date %></div>
  </div>
</div>
