<div class="col-xs-12">
  <% amount_color = transaction.amount >= 0 ? "credit" : "debit" %>
  <div class="row row-class-selector <%= amount_color %>">
    <div class="col-xs-2 cell"><%= transaction.bank_account.account_name %></div>
    <div class="col-xs-1 cell"><%= transaction.currency %></div>
    <div class="col-xs-2 cell <%= amount_color %>"><%= transaction.amount %></div>
    <div class="col-xs-3 cell"><%= transaction.description %></div>
    <div class="col-xs-2 cell"><%= transaction.category.name %></div>
    <div class="col-xs-2 cell"><%= transaction.date %></div>
  </div>
</div>
