<div class="container">
  <div class="wrapper">
    <div class="savings-content">

      <div class="progress-content">
        <h1>Savings Progress</h1>
        <div class="progress-content-graph">
          <%= line_chart [
            {name: "Savings Account", data: @savings_data},
            {name: "Current Account", data: @current_data},
            {name: "Securities Account", data: @securities_data}],
            id: "progress-graph",
            height: "350px",
            colors: ["rgb(55, 93, 79)", "rgb(90, 90, 90)"],
            legend: "bottom",
            curve: true
            %>
        </div>
        <div class="progress-content-stats">
          <div class="progress-content-stats-child">
            <h5>Average Weekly Saving</h5>
            <p>£<%= @average_weekly_saving %></p>
          </div>
          <div class="progress-content-stats-child">
            <div class="progress-content-stats-child-link">
              <a href="#popup">Total Balance</a>
            </div>
            <p>£<%= number_with_delimiter(@total_balance, :delimiter => ',') %></p>
          </div>

        </div>
        <div class="progress-content-stats">
          <div class="progress-content-stats-child">
            <h5>Savings Rate vs Target</h5>
            <p>+4.53%</p>
          </div>
          <div class="progress-content-stats-child">
            <h5>Savings Rate vs Target</h5>
            <p>+4.53%</p>
          </div>
        </div>
      </div>
      <div class="projection-content">
        <h1>Projected Retirement Fund</h1>

        <div class="progress-content-graph">

          <%= area_chart @projection_data,
            id: "retirement-graph",
            height: "350px",
            colors: ["rgb(55, 93, 79)", "rgb(90, 90, 90)"],
            legend: "bottom",
            curve: true,
            xtype: "number",
            min: "0",
            max: "10000000"
            %>
        </div>

        <div class="progress-content-stats">
          <div class="progress-content-stats-child">
            <h5>Projected Retirement Fund</h5>
            <p>£<%= number_with_delimiter(@projection_data.last.last.to_i, :delimiter => ',') %></p>
          </div>
          <div class="progress-content-stats-child">
            <h5>Estimated Annuity Value</h5>
            <p>£<%= number_with_delimiter((@projection_data.last.last * 0.047).to_i, :delimiter => ',') %></p>
          </div>
        </div>

        <%= form_tag svg_path, method: :get do %>
          <h5>Expected Rate of Return %</h5>
          <div class="slider-holder">
            <div class="slider-bar">
              <input id="return-slider" name="interest_rate" type="range" min="0" max="10" value="<%= params[:interest_rate] %>">
            </div>
            <div class="slider-value">
              <p id="return-value"><%= params[:interest_rate] %></p>
            </div>
          </div>
          <p id="return-comment"></p>

          <h5>Weekly Saving Rate £ per week</h5>
          <div class="slider-holder">
            <div class="slider-bar">
              <input id="savings-slider" name="weekly_saving" type="range" min="0" max="500" value="<%= params[:weekly_saving] %>">
            </div>
            <div class="slider-value">
              <p id="savings-value"><%= params[:weekly_saving] %></p>
            </div>
          </div>
          <p id="savings-comment"></p>
          <%= submit_tag "show me the money!", class: "btn btn-danger", id: "projection-btn" %>
        <% end %>

    </div>
  </div>
</div>



          <div id="popup" style="text-align:center;">
            <a id="close" href="#">X</a>
              <p> Savings: £<%= @savings_balance %> </p>
              <p> Current: £<%= @checking_balance %> </p>
              <p> Securities: £<%= @securities_balance %> </p>
          </div>


<%= javascript_pack_tag 'savings-slider' %>
