<%= render 'shared/tabs' %>
<div class="container">
  <h1 class="title">Investment Opportunities</h1>

  <div class="row"> <!-- stock-advice-table -->
    <div class="col-xs-12 col-md-4">
      <div class="portfolio-column">
        <h4>Low risk</h4>
        <%= pie_chart ({"Bonds" => 75, "Stocks" => 20, "Cash" => 5}), suffix: "%", colors: ["#2bcbba", "#fd9644", "#636a75"] %>
        <p>Slow but steady, this portfolio allocation will result in your investments growing at a reasonable rate but most importantly avoid most of the impact of major market downturns.</p>
        <%= link_to "Talk to a consultant!", '#', class: "btn btn-success", id: "korma" %>
      </div>
    </div>


    <div class="col-xs-12 col-md-4">
      <div class="portfolio-column">
        <h4>Medium risk</h4>
        <%= pie_chart ({"Bonds" => 45, "Stocks" => 50, "Cash" => 5}), suffix: "%", colors: ["#2bcbba", "#fd9644", "#636a75"] %>
        <p>A balanced portfolio has an asset composition divided almost equally between stocks and bonds. This allocation allows you to capture a decent amount of the market.</p>
        <%= link_to "Talk to a consultant!", '#', class: "btn btn-success", id: "masala" %>
      </div>
    </div>


    <div class="col-xs-12 col-md-4">
      <div class="portfolio-column">
        <h4>High risk</h4>
        <%= pie_chart ({"Bonds" => 23, "Stocks" => 75, "Cash" => 2}), suffix: "%", colors: ["#2bcbba", "#fd9644", "#636a75"] %>
        <p>This is a very aggressive allocation. In the long run you will undoubtedly win big. But you will need to equip yourself with some brass 'cojones' when the bear pokes his head. </p>
        <%= link_to "Talk to a consultant!", '#', class: "btn btn-success", id: "vindaloo" %>
      </div>
    </div>
  </div>
</div>

<script>
  const openChat = (element) => {
    element.addEventListener('click', (event) => {
      event.preventDefault();
      Chatra('expandWidget');
    })
  }

  const kormaButton = document.getElementById('korma')
  const masalaButton = document.getElementById('masala')
  const vindalooButton = document.getElementById('vindaloo')
  const allButtons = [kormaButton, masalaButton, vindalooButton]
  allButtons.forEach(openChat);
</script>

