<div class="container">
  <p>This page can serve as a place to test out your components and standardise formatting!!</p>

  <p>Here use the bootstrap variables to style: app/assets/stylesheets/config/_bootstrap_variables.scss</p>
  <p>Also in same folder : _colors.scss and _fonts.scss !!</p>

  <%= render "shared/progress_bar" %>

  <h1>H1 here</h1>
  <h2>H2 here</h2>
  <h3>H3 here</h3>

  <p>This is p text</p>

  <ul>
    <li>Unordered list item one</li>
    <li>Unordered list item two</li>
    <li>Unordered list item three</li>
  </ul>

  <ol>
    <li>Ordered list item one</li>
    <li>Ordered list item two</li>
    <li>Ordered list item three</li>
  </ol>

  <%= link_to 'Button', '#', class: "btn btn-success" %>

  <br>

  <%= image_tag("Logo Frame.png") %>
  <%= image_tag("Logo Frame.svg") %>

  <%= bar_chart User.group(:first_name).count %>

  <%= pie_chart User.group(:first_name).count, messages: {empty: "No data"} %>

  <div class="container">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Menu 1</a></li>
      <li><a href="#">Menu 2</a></li>
      <li><a href="#">Menu 3</a></li>
  </ul>
  </div>

  <iframe width="100%" src="https://www.ons.gov.uk/visualisations/dvc389/treemap/index.html" height="700px"></iframe>
</div>
