<div class="container">
  <h1>Transaction History</h1>

  <div class="row">
    <div class="col-xs-6">
      <%= button_to "Refresh Data", th_path, method: 'get', params: { reload_acc_trans: true }, class: "btn btn-success" %>
    </div>
    <div class="col-xs-6">
      <%= button_to "Refresh Categories", th_path, method: 'get', params: { reload_cat: true }, class: "btn btn-success" %>
    </div>
  </div>



  <br>
  <br>


  <!-- Maybe put whole in a partial with rows in it -->
  <%= simple_form_for th_path, :as => :query, method: :get, html: { class: 'search-bar-form' }, remote: true do |f| %>
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <%= f.input :query, class: "form-control", placeholder: "Search by Description or Type..." %>
      <% end %>
    </div>
  <div class="table-outer-div">
    <div class="col-xs-12">
      <div class="row header-div">
        <div class="col-xs-2 cell">
          <select class="table-filter-selector" name="account_id" id="account-name">
            <option>Account Name</option>
            <% @user.bank_accounts.each do |account| %>
              <option value="<%= account.id %>"><%= account.account_name %></option>
            <% end %>
          </select>
        </div>
        <div class="col-xs-1 cell">
          <select class="table-filter-selector" name="currency" id="currency">
            <option>Currency</option>
            <% Transaction.distinct.pluck(:currency).each do |currency| %>
              <option value="<%= currency %>"><%= currency %></option>
            <% end %>
          </select>
        </div>
        <div class="col-xs-2 cell"><p>Amount</p></div>
        <div class="col-xs-3 cell"><p>Description</p></div>
        <div class="col-xs-2 cell"><p>Type</p></div>
        <div class="col-xs-2 cell"><p>Date</p></div>
      </div>
    </div>

    <p><% @transactions.each do |transaction|%></p>
      <%= render 'shared/table_row', transaction: transaction %>
    <% end %>
  </div>

  <!-- Maybe put whole in a partial with rows in it -->

</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script> -->
<script>
  // $('#account-name').on('change', function() {
  //   var accountN = $('#account-name :selected').val();
  //   // console.log(accountN);
  // });

  // $('#currency').on('change', function() {
  //   var currencyJ = $('#currency :selected').text();
  //   // console.log(currencyJ);
  // });

  const searchBar = document.getElementById('_transaction_history_query')
  const searchBarForm = document.querySelector('.search-bar-form')
  // console.log(searchBar)
  searchBar.addEventListener('blur', function(e) {
    // console.log('hello')
    console.log(searchBarForm)
    searchBarForm.submit();
  });
</script>

