<div class="container">
  <h1>Transaction History</h1>

  <%= button_to "Refresh Data", th_path, method: 'get', params: { reload_acc_trans: true }, class: "btn btn-success" %>

  <%= button_to "Refresh Categories", th_path, method: 'get', params: { reload_cat: true }, class: "btn btn-success" %>


  <p><%= @user.email %></p>
  <p><%= @user.encrypted_password %></p>

  <!-- Maybe put whole in a partial with rows in it -->
  <div class="col-xs-12 header-div">
  <div class="row">
    <div class="col-xs-2 cell"><h6>Account Name</h6></div>
    <div class="col-xs-1 cell"><h6>Currency</h6></div>
    <div class="col-xs-2 cell"><h6>Amount</h6></div>
    <div class="col-xs-3 cell"><h6>Description</h6></div>
    <div class="col-xs-2 cell"><h6>Type</h6></div>
    <div class="col-xs-2 cell"><h6>Date</h6></div>
  </div>
</div>

  <p><% @transactions.each do |transaction|%></p>
    <%= render 'shared/table_row', transaction: transaction %>
  <% end %>
  <!-- Maybe put whole in a partial with rows in it -->

</div>
