<div class="container">


  <!-- <div class="row">
    <div class="col-xs-6">
      <%#= button_to "Refresh Data", th_path, method: 'get', params: { reload_acc_trans: true }, class: "btn btn-success b" %>
    </div>
    <div class="col-xs-6">
      <%#= button_to "Refresh Categories", th_path, method: 'get', params: { reload_cat: true }, class: "btn btn-success b" %>
    </div>
  </div> -->



  <br>


  <!-- Maybe put whole in a partial with rows in it -->
  <div class="col-xs-12 col-md-4 col-md-offset-4">
    <%= simple_form_for th_path, :as => :query, method: :get, html: { class: 'search-bar-form' },remote: true do |f| %>
    <%= f.input :query, class: "form-control", placeholder: "Search by Description or Type...", label: false %>
    <% end %>
  </div>

  <div class="table-outer-div">
    <div class="col-xs-12">
      <div class="row header-div">
        <div class="col-xs-2 cell">
          <select class="table-filter-selector" name="account_id" id="account-name">
            <option>Account Name</option>
            <% @user.bank_accounts.each do |account| %>
              <option value="<%= account.id %>"><%= account.account_name %></option>
            <% end %>
          </select>
        </div>
        <div class="col-xs-1 cell">
          <select class="table-filter-selector" name="currency" id="currency">
            <option>Currency</option>
            <% Transaction.distinct.pluck(:currency).each do |currency| %>
              <option value="<%= currency %>"><%= currency %></option>
            <% end %>
          </select>
        </div>
        <div class="col-xs-2 cell"><p>Amount</p></div>
        <div class="col-xs-3 cell"><p>Description</p></div>
        <div class="col-xs-2 cell"><p>Type</p></div>
        <div class="col-xs-2 cell"><p>Date</p></div>
      </div>
    </div>

    <div id="displayed-rows">
      <% @transactions.each do |transaction|%>
        <%= render 'shared/table_row', transaction: transaction %>
      <% end %>
    </div>
  </div>

  <!-- Maybe put whole in a partial with rows in it -->

</div>


<!-- Here is some code to automatically search on the keystroke but reloads page -->
<!-- <script>
  const searchBar = document.getElementById('_transaction_history_query')
  const searchBarForm = document.querySelector('.search-bar-form')
  searchBar.addEventListener('keyup', function(e) {
    setTimeout(function(){
      searchBarForm.submit();
    }, 1000)

  });
</script> -->

