<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-offset-3">
      <p><span class="form-question">How much do I want to save?</span></p>
      <%= form_for(@plan) do |f| %>
        <div>
          Amount: <%= f.range_field(:target_amount, in: 10_000..1_000_000, step: 1000) %>
          £<span class="range-value"><%= @plan.target_amount %></span>
        </div>

        <div>
          Duration <%= f.range_field(:target_year, in: 1..30) %>
          <span class="range-value"><%= @plan.target_year %></span> years
        </div>

        <p>
          Weekly target:
          <span id="weekly_target"><%= @plan.weekly_savings_target %></span>
          <%= f.hidden_field :weekly_savings_target, :value => @plan.weekly_savings_target, id: 'hidden_weekly_target' %>
        </p>

        <!-- Form for bank selection -->
        <p><span class="form-question">Choose which accounts are concerned:</span></p>
        <div class="form-group">
          <input type="hidden" name="plan[bank_account_ids][]" value="">

          <div class="bank-account-choices">
            <% @bank_accounts_options.each do |bank| %>
              <input class="hidden" type="checkbox" value="<%= bank.id %>" name="plan[bank_account_ids][]" id="plan_bank_account_ids_<%= bank.id %>">

              <label class="bank-account-choice" for="plan_bank_account_ids_<%= bank.id %>">
                <%= bank.account_type %> <i class="fa fa-check-square-o" aria-hidden="true"></i>
              </label>
            <% end %>
          </div>
        </div>
        <!-- /Form for bank selection -->

        <button type="submit" class="btn btn-success">Set Target!</button>
      <% end %>
    </div>
  </div>
</div>
