
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-offset-3">
      <p class="form-plan-title">How much do I want to save?</p>
      <%= form_for(@plan, class: "form-plan") do |f| %>
         <div>
          <p class="form-question">What are you saving for?</p>

            <%= f.text_field(:name) %>

        </div>


        <div>
          <p class="form-question margin-top">How much are you planning to save?</p>
          <%= f.range_field(:target_amount, in: 10_000..1_000_000, step: 1000, class: 'slider-bootstrap-js') %>
          <div class="range-key-num">
            <span class="range-unit">£</span>
            <span class="range-value"><%= @plan.target_amount %></span>
          </div>
        </div>

        <div>
          <p class="form-question">When would you like to reach that target?</p>
          <%= f.range_field(:target_year, in: 1..30) %>
          <div class="range-key-num">
            <span class="range-value"><%= @plan.target_year %></span>
            <span class="range-unit"> years</span>
          </div>

        </div>


        <div class="weekly-info">
          <div class="header">
            <p>Based on this you need to save</p>
          </div>
          <div class="middle">
            <span class="pound">£</span><span class="number" id="weekly_target"><%= @plan.weekly_savings_target.ceil %></span>
          </div>
          <div class="bottom">
            <p>every week</p>
          </div>
        </div>

        <%= f.hidden_field :weekly_savings_target, :value => @plan.weekly_savings_target, id: 'hidden_weekly_target' %>


        <!-- Form for bank selection -->
        <p><span class="form-question">Choose which accounts are concerned:</span></p>
        <div class="form-group">
          <input type="hidden" name="plan[bank_account_ids][]" value="">

          <div class="bank-account-choices">

            <% current_user.bank_accounts.each do |bank| %>
              <input class="hidden" type="checkbox" value="<%= bank.id %>" name="plan[bank_account_ids][]" id="plan_bank_account_ids_<%= bank.id %>">

              <label class="bank-account-choice card" for="plan_bank_account_ids_<%= bank.id %>">
                <!-- <div class="card"> -->
                  <%= image_tag "hsbc.png", class: "bank-logo" %>
                  <p class="account-owner-name"><%= current_user.first_name%> <%= current_user.last_name%> </p>
                  <p class="account-name"><%= bank.account_name %></p>
                  <p class="credit-card-number">0000 **** **** ****</p>
                <!-- </div> -->
              </label>
            <% end %>
          </div>
        </div>
        <!-- /Form for bank selection -->

        <button type="submit" class="btn btn-success">Set Target!</button>
      <% end %>
    </div>
  </div>

<%= javascript_pack_tag "handle_new_plan" %>
