<%= render 'shared/tabs' %>
<div class="container">
  <div class="savings-chart">
    <%= line_chart [
      { name: "Net Worth", data: @chart_data },
      { name: "Plan", data: @plan_data},
        ], legend: "bottom", spanGaps: true, lineTension: 0.001, delay: true , points: false, colors: ["#6DB193", "#EE5F5B"] , thousands: ","%>
  </div>

  <div class="savings-stats">
    <div class="savings-stats-child">
      <h1>My Progress</h1>
      <p>Total Saved: £<%= (@chart_data.last[1].to_i - @chart_data.first[1].to_i) %></p>
      <p>Average per Week: £<%= @average_per_week %></p>
    </div>
     <div class="savings-stats-child c">
      <h1>Status</h1>

      <% if @plan_status < @average_per_week %>
        <div class="green-status">
          <p><strong>On Track</strong></p>
        </div>
      <% else %>
        <div class="red-status">
          <p><strong>Off Track</strong></p>
        </div>
      <% end %>

      <p>Required per Week: £<%= @plan_status %></p>
    </div>
    <div class="savings-stats-child">
      <h1>My Savings Plan</h1>
      <p>Target Year: <%= @plan.target_year %></p>
      <p>Target Amount: £<%= @plan.target_amount %></p>
    </div>
  </div>
</div>

