<%= render 'shared/tabs' %>
<%= render 'shared/panic_button' %>
<div class="container">
  <div class="savings-chart">
    <%= line_chart [
      { name: "Net Worth", data: @chart_data },
      { name: "Plan", data: @plan_data},
        ], legend: "bottom", spanGaps: true, lineTension: 0.001, delay: true , points: false, colors: ["#6DB193", "#EE5F5B"] , thousands: ","%>
  </div>

    <div class="row">

      <div class="col-xs-4">
        <div class="saving-kpi blue">
          <div class="kpi-head">
            <span>My progress</span>
          </div>
          <div class="kpi-middle a">
            <span>Total Saved: £<%= (@chart_data.last[1].to_i - @chart_data.first[1].to_i) %></span>
          </div>
          <div class="kpi-bottom">
            <span>Average per Week: £<%= @average_per_week %></span>
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="saving-kpi blue">
          <div class="kpi-head">
            <span>Status</span>
          </div>
          <div class="kpi-middle b <%= @plan_status < @average_per_week ? "success" : "danger" %>">
            <span><%= @plan_status < @average_per_week ? "ON TRACK" : "OFF TRACK" %></span>
          </div>
          <div class="kpi-bottom">
            <span>Required per Week: £<%= @plan_status %></span>
          </div>
        </div>
      </div>


      <div class="col-xs-4">
        <div class="saving-kpi blue">
          <div class="kpi-head">
            <span>My Savings Plan</span>
          </div>
          <div class="kpi-middle c">
            <span>Target Amount: £<%= @plan.target_amount %></span>
          </div>
          <div class="kpi-bottom">
            <span>Target Year: <%= @plan.target_year %></span>
          </div>
        </div>
      </div>
    </div>



