<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nest-Eggy -- We help you save your money and realise your dreams</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= favicon_link_tag "Logo Frame.png" %>

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

  </head>
  <body>
    <%= render "welcome/login_modal" %>
    <%= render "welcome/sign_up_modal" %>
    <%= render 'shared/navbar' unless current_page?(root_path) %>
    <%= render "shared/news_banner" unless current_page?(root_path)%>
    <%#= render 'shared/tabs' if current_page?(th_path) %>
    <%#= render 'shared/tabs' if current_page?(svg_path) %>
    <%#s= render 'shared/tabs' if current_page?(brd_path) %>

    <%= render 'shared/flashes' %>
    <script>
      function signup() {
        document.getElementById("signup").classList.remove("hide");
      }
      signup()
    </script>
    <script>
      function login() {
        document.getElementById("loginModal").classList.remove("hide");
      }
      login()
    </script>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= yield %>
    <%= yield :charts_js %>
  </body>
</html>

