<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= favicon_link_tag "Logo_Frame.svg" %>

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <% if user_signed_in? %>
    <!-- Chatra {literal} -->
      <script>
          (function(d, w, c) {
              w.ChatraID = 'zxCr6sT9qeZeCpmzX';
              var s = d.createElement('script');
              w[c] = w[c] || function() {
                  (w[c].q = w[c].q || []).push(arguments);
              };
              s.async = true;
              s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
              + '//call.chatra.io/chatra.js';
              if (d.head) d.head.appendChild(s);
          })(document, window, 'Chatra');

        window.ChatraSetup = {
            colors: {
                buttonText: '#f0f0f0', /* chat button text color */
                buttonBg: '#EE5F5B'    /* chat button background color */
            }
        };
        window.ChatraIntegration = {
            /* main properties */
            name: '<%= current_user.username %>',
            email: '<%= current_user.email %>',
            note: 'something'
        };
      </script>
    <% end %>
    <!-- /Chatra {/literal} -->
  </head>

  <body>
    <%= render "welcome/login_modal" %>
    <%= render "welcome/sign_up_modal" %>
    <%= render 'shared/navbar' %>
    <%= render "shared/news_banner" unless current_page?(root_path)%>
    <%= render 'shared/tabs' if current_page?(th_path) || current_page?(svg_path) || current_page?(brd_path) %>
    <%= render 'shared/panic_button' if current_page?(th_path) || current_page?(svg_path) || current_page?(brd_path) %>
    <%= render 'shared/flashes' %>
    <script>
      function signup() {
        document.getElementById("signup").classList.remove("hide");
      }
      signup()
    </script>
    <script>
      function login() {
        document.getElementById("loginModal").classList.remove("hide");
      }
      login()
    </script>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'panic-button' %>
    <%= yield %>
    <%= yield :charts_js %>
  </body>
</html>

